<header>
  <h1>Snapface</h1>
  <nav>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="faceSnaps" routerLinkActive="active">faceSnaps</a>
    <button (click)="onAddNewFaceSnap()">+</button>
  </nav>
</header>
