<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oups Snap!' }">
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <p>{{ faceSnap.description }}</p>
  <button (click)="onViewSnaps()">view</button>
</div>
