<div class="face-snap-card" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{ snapped: buttonText === 'Oups Snap!' }">
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <a routerLink="/faceSnaps" >back</a>
  <p>Mis en ligne le {{ faceSnap.createdDate | date: 'd MMMM yyyy à HH:mm' }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">photo prise à : {{faceSnap.location}}</p>
  <p>
    <button (click)="onSnap(faceSnap.id)">{{buttonText}}</button>
    <span [ngStyle]="{color :'rgb(0,' + faceSnap.snaps + ',0)'}">🤌 {{ faceSnap.snaps }}</span>
  </p>
</div>
